/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-search{
	background-image: url('../img/icons/zoom.svg');
	width: 34px;
	height: 34px;
}

.icm-phone-call-home{
	font-size: 18px;
}
.icm-zoom{
	font-size: 34px;
}


small{
	font-size: 87.5%;
}



.fa-star{
	color: $color-gray-1;
	&.fill{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
}

.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14, 15);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
}





.bnr-carousel{
	$slider-height: 100vh;//100vh 1080px
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	figure{
		h1, p, .btn-def, .btn-opacity, img{
			opacity: 0;
			transition: 1s ease;
		}
		h1{
			font-size: em(60, 16);
			transform: matrix(1,0,0,1,0,-7);
			@media (max-width: 991px) {
				font-size: em(26, 15);
			}
		}
		p{

		}
		p, img{
			transform: translateY(20px);	
		}
	}

	.btn-def, .btn-opacity{
		transform: scale(1.3);
		@media (max-width: 991px) {
			a{
				font-size: 14px;
			}
		}
	}

	.img-product{
		text-align: center;
		transform: scale(0);
		transition: all 0.8s ease;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    @extend .container;
    @extend .trans-center;
    z-index: 1;
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: 90vh;
			}
		}
		@media (min-width: 992px) {

		}
		
	}
	.bg-shadow{
		pointer-events: none;
		background-color: rgba(black, 0.2);
		//background: linear-gradient(to bottom, transparent, $color-2);
		@media (max-width: 991px) {
			background-color: rgba(black, 0.6);
		}
	}


	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		@extend .container;
		left: 50%;
		top: 58%;
		transform: translate(-50%, -50%);	
		position: absolute !important;
		//left: auto !important;
		text-align: center;
		padding-left: 30px;
		min-height: 130px;
		padding-right: 30px;
		margin-bottom: 0 !important;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			display: block;
			background-color: transparent;
			margin-left: auto;
			margin-top: 15px;
			border-color: white;
    	margin-bottom: 15px;
    	&.is-selected{
    		border-color: $color-1;
    	}
		}
	}
	@media (min-width: 992px) {
		//Стрелки
		.flickity-prev-next-button.previous{
			left: -15px;
		}
		.flickity-prev-next-button.next{
			right: -15px;
		}
	}
	@media (max-width: 991px) {

		p{
			display: none;
		}
		figure{
			height: 100vh;
			.img{
				height: 100vh;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			min-height: 100px;
			top: auto;
			height: auto;
			text-align: center;
			li{
				width: 15px;
				height: 15px;
				margin: 0 12px 0 12px;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				&.is-selected{
					border: none;
				}
			}
		}
		.container-arrows{
			width: 100%;
		}
		.bnr-phone{
			display: none;
		}
	}
	@media (min-width: 992px) {
		.bnr-phone{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}

}
.bnr-footer{
	//@extend .trans-h-center;
	left: 50%;
	z-index: 1;
	color: white;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
	.wrapper{
		justify-content: center;
		padding: 15px 15px 30px 15px;	
	}
	@media (max-width: 991px) {
		.socicons{
			display: none;
		}
	}
}








//content

//.short-about
.short-about{
	.text-item{
		min-height: 270px;
	}
	.img{
		background-size: cover;
		background-position: center;
		@media (min-width: 992px){
			min-height: 563px;
		}
		@media (max-width: 991px) {
			height: 250px;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	@media (min-width: 992px) {
		margin-top: 60px;
		.entry-header{
			padding-bottom: 30px;
		}
	}

}


//short-advantages
.short-advantages-items{
	figure{
		position: relative;
		&:hover{
			z-index: 1;
		}
		.wrapper{
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			min-height: 260px;
			padding: 15px 20px;
			position: relative;
			background-color: white;
			border: 1px solid $color-gray-1;
			overflow: hidden;
			transition: all 0.2s ease-in-out;
			&>div{
				min-height: 210px;
				width: 100%;
			}
			@media (max-width: $middle-size){
				min-height: 220px;
				align-items: center;
				.icm{
					font-size: 50px;
				}
				&>div{
					min-height: 130px !important;
				}
			}
			&:before{
				@extend .clafclear;
				width: 100px;
				height: 100px;
				background-color: $color-1;
				border-radius: 50%;
				top: -110px;
				transition: all 0.2s ease-in-out;
				backface-visibility: hidden;
			}
			&:hover{
				z-index: 123;
				transform: scale(1.06);
				box-shadow:  0 0 30px -5px rgba(black, 0.2);
				&:before{
					top: -80px;
				}
			}
		}
	}
	p{
		line-height: 110%;
	}
	.icm{
		height: 60px;
		font-size: 60px;
	}
	@media (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.short-advantages{
	.entry-header{
		display: flex;
		align-items: center;
	}
	@media (min-width: 992px) {
		.entry-header{
			height: 260px;
			padding-left: 60px;
		}
	}
}


//short-services
.short-services-items{
	color: white;
	figure{
		position: relative;
		&:hover{
			.desc-content{
				opacity: 0;
			}
		}
	}
	.img{
		height: 460px;
		background-position: center;
		background-size: cover;
	}
	.bg-shadow{
		background-color: rgba(black, 0.2);
		z-index: 0;
	}
	.owl-nav{
		padding: 10px 0;
		top: auto;
		bottom: 0;
		position: relative;
		transform: scale(1);
	}
	h3{
		text-transform: none;
	}
	.desc-content{
		position: absolute;
		padding: 15px 30px;
		transition: all 0.3s ease;
		bottom: 0;
	}
	@media (min-width: 992px) {
		padding-top: 90px;
		padding-right: 80px;
	}
}
.short-services-content{
	@media (min-width: 992px) {
		&.p-h-15{
			padding: 50px 0 80px 0px;
		}
	}
	.wrapper{
		padding: 60px 80px 80px 80px;
		border-radius: 10px 0 0 10px;
		box-shadow: 0 0 40px -15px rgba(black, 0.3);
	}
}


//short-feedback
.short-feedback{
	background-image: url('../img/bg/bg-feedback.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	.row{
		@media (min-width: 992px) {
			min-height: 700px;	
			display: flex;
			align-items: center;
		}
	}
}
.short-feedback-img{
	align-self: flex-start;
}







//vacancies
.vacancies{
	.form-content{
		@media (min-width: 992px) {
			padding-left: 4%;
		}
	}
	h3{
		text-transform: none;
	}
	form{
		padding: 15px 30px;
		border-radius: 10px;
		box-shadow:  0 0 20px -2px rgba(black, 0.3);
		p{
			font-size: 0.95em;
		}
	}
}
.vacancies-leftbar{
	li{
		margin: 15px 0;
		&:nth-child(1){
			margin-top: 10px;
		}
		&.active{
			a{
				background-color: $color-1;
				color: white;
				box-shadow: 0 0 20px -2px rgba($color-1, 0.5);
			}
		}
	}
	a{
		transition: all 0.3s ease;
		padding: 15px 20px;
		min-height: 75px;
		border-radius: 5px;
		border: 1px solid $color-gray-1;
		font-weight: 600;
		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			justify-content: center;
		}
	}
}

//solamedia
.solamedia-video{
	.video-content{
		iframe{
			z-index: 1;
			position: relative;
			border: 10px solid white;
			border-radius: 15px;
			width: 100%;
			height: 520px;
			box-shadow: 0 0 30px -10px rgba(black, 0.3);
			@media (max-width: 991px) {
				height: 280px;
			}
		}
	}
	.text-item{
		@media (min-width: 992px) {
			min-height: 290px;
		}
	}
}
.solamedia-counter{
	h1{
		big{
			font-size: 103px;
		}
	}
}
.adformat{
	background-position: center;
	background-size: cover;
	@media (min-width: 991px) {
		min-height: 670px;
		margin-top: -300px;
	}
	@media (max-width: $middle-size) and (min-width: 991px){
		.adformat-content{
			margin-left: 2%;
		}
	}
}
.adformat-items{
	.wrapper{
		border-radius: 10px;
		border: 1px solid rgba(white, 0.14);
		display: flex;
		min-height: 110px;
		align-items: center;
		padding: 5px 15px;
		transition: all 0.3s ease;
		&:hover{
			cursor: pointer;
			background-color: rgba(white, 0.14);
		}
	}
	.img-content{
		width: 80px;
	}
	.icm{
		font-size: 56px;
	}
	.desc-content{
		font-size: em(14, 16);
	}
	@media (max-width: $middle-size) and (min-width: 991px){
		figure{
			width: 100%;	
		}
	}
}
.adformat-ask{
	position: relative;
	@media (min-width: 992px) {
		min-height: 500px;
		.adformat-ask-content{
			padding-left: 20%;
		}
		.adformat-ask-content{
			position: absolute;
			bottom: 0;
			&:before{
				content: "";
				z-index: 0;
				left: 0;
				bottom: 50%;
				transform: translate(-35%, 50%);
				position: absolute;
				display: inline-block;
				width: 490px;
				height: 490px;
				background-position: center;
				background-size: cover;
				background-image: url('../img/other/question-mark.png');
			}
		}
	}
}






//targeting
.targeting-items{
	.wrapper{
		display: flex;
		align-items: center;
		position: relative;
	}
	.img{
		width: 664px;
		height: 484px;
		max-width: none;
		background-position: center;
		background-size: cover;
		position: relative;
	}
	img{
		max-width: none;
		position: relative;
	}

	.img-content{

		&:after{
			@extend .clafclear;
			height: calc(100% - 85px);
			bottom: 0;
			left: 30%;
			width: 60%;
			z-index: -1;
			background: linear-gradient( to right, #f2f2f2, transparent);
		}
		// &:after{
		// 	width: 65%;
		// 	z-index: -1;
		// 	background-color: #fdfdfd;
		// }
	}
	.desc-content{
		padding-top: 30px;
		padding-bottom: 30px;
		@media (min-width: 992px){
			padding-top: 140px;

		}
	}
	figure{
		@media (max-width: 991px) {
			.wrapper{
				flex-wrap: wrap;
			}
			.img-content{
				img{
					max-width: 100%;
				}
				&:before, &:after{
					display: none;
				}
			}
		}
		@media (min-width: 992px) {
			&:nth-child(3){
				.img-content{
					&:before, &:after{
						height: calc(100% - 100px);
					}
				}
			}
			&:nth-child(even){
				.wrapper{
					flex-direction: row-reverse;
					text-align: right;
				}
				.img-content{
					&:after{
						background: linear-gradient( to left, #f2f2f2, transparent);
						left: auto;
						right: 30%;
					}
				}
			}
		}
	}
}




//partners-items
.partners-items{
	.owl-stage-outer{
		overflow: visible;
	}
	figure{

	}
	.owl-item{
		position: relative;
		&:hover{
			z-index: 1;

		}
		.img{
			&:hover{
				filter: grayscale(0);
				transform: scale(1.05);
				opacity: 1;
				z-index: 1;
				box-shadow: 0 0 20px -5px rgba(black, 0.3);
			}
		}
	}
	.img-content{
		position: relative;
	}
	.img{
		position: relative;
		background-color: white;
		border: 1px solid $color-gray-1;
		transition: all 0.3s ease;
		z-index: 0;
		filter: grayscale(1);
		opacity: 0.6;
		background-size: 50%;
		background-position: center;
		height: 175px;
		transform: scale(1);
	}
	@media (max-width: 991px) {
		.img{
			height: 70px;
		}
	}
	@media (min-width: 992px) {
		.owl-stage{
			padding: 30px 0;
		}
	}
}







//galleryrow
.galleryrow{
	@media (min-width: 992px) {
		padding-bottom: 120px;
	}
}
.galleryrow-items{
	.img{
		height: 300px;
		background-position: center;
		background-size: cover;
		@media (max-width: 991px) {
			height: 210px;
		}
	}
}




//for-home
.for-home{
	.img-content{
		.img{
			height: 390px;
			background-position: center;
			background-size: contain;
		}
		@media (min-width: 992px) {
			img{
				max-width: none;
			}
			transform: translate(12%, -20px);
		}
		@media (max-width: 991px) {
			.img{
				height: 220px;
				background-size: contain;
			}
		}
	}
}




//worksteps
.worksteps{
	background-color: $color-gray-5;
	padding-top: 30px;
	padding-bottom: 60px;
	position: relative;
	@media (min-width: 992px) {
		clip-path: polygon(73% 10%, 100% 10%, 100% 50%, 100% 100%, 30% 100%, 27% 90%, 0 90%, 0 0, 70% 0);
	}
}
.worksteps-items{
	figure{
		position: relative;
		&:before{
			@extend .clafclear;
			@extend .trans-v-center;
			height: 2px;
			right: -50%;
			border-bottom: 1px dashed $color-gray-2;
		}
		@media (min-width: $middle-size-ex){
			padding-left: 30px;
			padding-right: 30px;
		}
		@media (max-width: 991px) {
			&:before{
				display: none;
			}
		}
	}
	.wrapper{
		background-color: white;
		border: 1px solid $color-gray-1;
		border-radius: 10px;
		overflow: hidden;
		padding: 5px 15px;
		position: relative;
	}
	.cnt-content{
		position: absolute;
		width: 58px;
		height: 58px;
		background-color: $color-1;
		color: white;
		font-size: 26px;
		font-weight: 800;
		display: flex;
		border-radius: 50%;
		top: -7px;
		right: -7px;
		align-items: center;
		justify-content: center;
	}
	.img-content{
		height: 95px;
		margin: 15px 0;
	}
	.icm{
		font-size: 90px;
	}
	.desc-content{
		p{
			font-size: 0.9em;
			line-height: 130%;
		}
	}
}



//tariffs
.tariffs-items{
	figure{
		background-color: white;
		border: 1px solid $color-gray-1;
		border-radius: 10px;
		overflow: hidden;
		color: $color-gray-3;
		padding-bottom: 15px;
		transition: all 0.3s ease;
		.btn-def{
			opacity: 0;
		}
		&:hover{
			//box-shadow: 0 0 20px -5px rgba(black, 0.5);
			//transform: scale(0.9);
			border-color: rgba($color-1, 0.3);
			.cap-content{
				background-color: $color-1;
				color: white;
			}
			.btn-def{
				opacity: 1;
			}
		}
	}
	b{
		font-weight: 600;
	}
	strong{
		font-weight: 900;	
		color: black;
	}
	big{
		font-size: 1.3em;
	}
	.cap-content{
		text-align: center;
		color: $color-1;
		transition: all 0.3s ease;
		background-color: $color-gray-5;
		font-weight: 700;
		text-transform: uppercase;
		h2{
			padding: 25px 15px;
			margin: 0;
		}
	}
	.price-content{
		padding: 10px 30px;
		big{
			font-size: 1.6em;
		}
	}
	.owl-nav{
		display: flex;
		justify-content: space-between;
	}
	@media (max-width: 991px) {
		figure{
			.btn-def{
				opacity: 1;
			}
		}
		.owl-nav{
			position: relative;
			justify-content: center;
		}
	}
	@media (min-width: 992px) {
		.owl-prev{
			margin-left: -100px;
		}
		.owl-next{
			margin-right: -100px;
		}

	}
}
.card-items{
	padding: 20px 30px;
	.flex{
		background-color: $color-gray-5;
		border-radius: 5px;
		margin: 3px 0;
		align-items: center;
		padding: 10px 15px;
		line-height: 170%;
		.icm{
			text-align: center;
			color: $color-1;
			width: 80px;
			font-size: 59px;
			margin-right: 15px;
		}
		b{
			color: black;
			font-weight: 600;
		}
		big{
			font-weight: 900;
		}
	}
}






//reviews
.reviews-items{

	.flickity-prev-next-button{
		position: absolute;
		&.previous{
			left: 50%;
			transform: translate(-348px, -15px);
		}
		&.next{
			right: 50%;
			transform: translate(348px, -15px);
		}


	}
	.date-content{
		position: absolute;
		right: 30px;
		top: 20px;
		color: $color-gray-3;
		font-size: 0.85em;
	}
	.quote{
		position: absolute;
		color: $color-1;
		font-size: 250px;
		line-height: 85%;
		left: 40px;
		top: 0px;
		transition: all 0.3s ease 0.12s;
		color: $color-gray-1;
		font-weight: 600;
	}
	figure{
		.wrapper{
			margin-top: 35px;
			margin-bottom: 35px;
			position: relative;
			background-color: white;
			border-radius: 10px;
			padding: 20px 30px;
			border: 1px solid $color-gray-1;
			opacity: 0.5;
			transform: scale(0.85);
			transition: all 0.3s ease;
		}
		&.is-selected{
			.wrapper{
				transform: scale(1);
				box-shadow: 0 0 35px -5px rgba(black, 0.15);
				opacity: 1;
			}
			.quote{
				color: $color-1;
				text-shadow: 0 0 20px rgba($color-1, 0.5);
			}
		}
	}
	.cap-content{
		margin-top: 10px;
		h4{
			text-transform: uppercase;
			margin:5px 0;
			font-size: 1em;
		}
	}
	.img{
		width: 110px;
		margin-top: -55px;
		margin-bottom: 10px;
		height: 110px;
		border: 5px solid white;
		box-shadow: 0 0 5px 0 rgba(black, 0.15);
	}
	.desc-content{
		min-height: 80px;
	}
}






//contacts
.contacts-info{
	p{
		font-weight: 600;
	}
	@media (min-width: 1700px) {
		padding-left: 5% !important;
	}
	.contacts-item{
		.wrapper{
			border-radius: 10px;
			position: relative;
			background-color: white;
			min-height: 230px;
			padding-top: 10px;
			padding-bottom: 10px;
			box-shadow: 0 0 20px -2px rgba(black, 0.3);
		}
		p{
			@extend .clearfix;
		}
		span:not(.icm), small:not(.icm){
			width: 80%;
		}
		.icm{
			font-size: 18px;
			width: 30px;
		}
		.silhouette{
			pointer-events: none;
			position: absolute;
			bottom: 30px;
			right: 20%;
			font-size: 80px;
			color: rgba(black, 0.05);
			width: auto;
		}
		.va-middle{
			float: left;
			display: block;
		}
		.icm-handshake{
			font-size: 120px;
			bottom: 10px;
			right: 10%;
		}
		@media (max-width: 991px) {
			margin: 15px 0;
			.wrapper{
				
			}
		}
	}	
}





//about
.about-content{
	.text-item{
		position: relative;
		padding: 15px;
		&:before{
			@extend .clafclear;
			@extend .shadow-def;
			top: 0;
			left: 0;
			width: calc(100% + 140px);
			background-color: white;
		}
		@media (min-width: 992px) {
			padding: 60px 80px;
		}
		@media (max-width: 991px) {
			background-color: white;
			&:before{
				display: none;
			}
		}
	}
}
.about-staff{
	@media (min-width: 992px) {
		padding-right: 85px;
	}
}
.staff-items{
	figure{
		border-radius: 10px;
		overflow: hidden;
	}
	.img{
		height: 320px;
		background-position: center;
		background-size: cover;
	}
	.cell-hover{
		background: linear-gradient(to bottom, transparent 70%, rgba(black, 0.9) );
		align-items: flex-end;
		font-weight: 600;
	}
}






//licenses-items
.licenses-items{
	.img{
		height: 545px;
		background-position: center;
		background-size: cover;
	}
	@media (max-width: $middle-size){
		.img-content{
			box-shadow: none;
		}
		.img{
			background-size: contain;
			height: 370px;
		}
	}
}


//to-operators
.operator-services{
	.silhouette{
		font-size: 300px;
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		transform: translateX(-50%);
		z-index: -1;
		color: rgba(black, 0.05);
	}
	.wrapper{
		position: relative; 
		border: 1px solid $color-gray-1;
		border-radius: 10px;
		display: flex;
		@extend .flex-adaptive;
		overflow: hidden;
		transition: all 0.3s ease;
		&:hover{
			@extend .shadow-def;
		}
	}
	.desc-content{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	h2{
		font-size: em(32, 16);
	}
	.img{
		width: 264px;
		background-position: center;
		background-size: cover;
		height: 100%;
	}
	@media (min-width: $middle-size-ex) {
		.wrapper{
			min-height: 450px;
		}
		.desc-content{
			padding: 50px 60px;
			padding-bottom: 10px;
		}

		h2{
			width: 75%;
		}
	}
	@media (max-width: $middle-size){
		.desc-content{
			padding: 10px 15px;
			padding-bottom: 10px;
		}
		.wrapper{
			min-height: 250px;
		}
		.img{
			width: 160px;
		}
	}
}






//news
.news{
	.nav-content{
		text-align: center;
		a{
			padding: 15px 30px;
			font-weight: 800;
			text-transform: uppercase;
			font-size: em(22, 16);
			color: $color-1;
			display: inline-block;
			border: 1px solid $color-1;
			@media (min-width: 992px) {
				min-width: 370px;
			}
		}
		ul{
			@extend .letter-none;
		}
		li{
			padding: 0;
			&.active{
				a{
					background-color: $color-1;
					color: white;
				}
			}
			&:nth-child(1){
				a{
					border-radius: 5px 0 0 5px;
				}
			}
			&:nth-last-child(1){
				a{
					border-radius: 0 5px 5px 0;
				}
			}

		}
	}
}
.news-items{
	.boxes-cell{
		position: relative;
		border: 1px solid $color-gray-1;
		border-radius: 10px;
		min-height: 305px;
		padding: 30px 30px;
		transition: all 0.3s ease;
		&:hover{
			@extend .shadow-def;
		}
	}
}
.news-info{
	position: absolute;
	font-size: 0.9em;
	bottom: 30px;
	width: calc(100% - 60px);
	color: $color-gray-2;
	display: flex;
	justify-content: space-between;
	.icm{
		font-size: 1.1em;
	}
	@media (max-width: 991px) {
		width: 100%;
		position: relative;
		bottom: 0;
	}
}
.news-yet{
	text-align: center;
	box-shadow: 0 -20px 30px -8px rgba(black, 0.15);
	padding: 30px 30px;
	@media (min-width: 992px) {
		padding-bottom: 90px;
	}
	.icm{
		display: inline-block;
		font-size: 22px;
		background-color: #049629;
		color: white;
		width: 40px;
		height: 40px;
		padding: 9px 0;
    text-align: center;
    border-radius: 50%;
    &:before{
    	margin-left: -1px;
    }
	}
}
.p-article-md{
	padding: 15px;
	@media (min-width: 992px) {
		padding: 70px 70px;
	}
}
.ssolution{
	.tab-content{
		background-color: white;
		@extend .shadow-def;
		border-radius: 10px;
		position: relative; 

		&:before{
			//@extend .clafclear;
			//width: 50px;
			//height: 50px;
			//transform:  translate(-50%, 25%) scaleY(0.6) rotate(45deg);
			//background-color: white;
			//box-shadow: 0 0 10px -2px rgba(black, 0.3);
			//z-index: -2;
			//left: 0;
			//top: 60px;
		}
	}
	.tab-wrapper{
		position: relative; 
		z-index: 1;
		@media (min-width: 992px) {
			padding-left: 5%;
		}
	}
	.leftbar{
		li{
			margin: 15px 0;
			transition: all 0.3s ease;
			&:nth-child(1){
				margin-top: 10px;
			}
			&.active{
				
				p{
					color: white;
				}
				a{
					background-color: $color-1;
					color: white;
					box-shadow: 0 0 20px -2px rgba($color-1, 0.5);
				}
				@media (min-width: 992px) {
					transform: translateX(20px);
				}
			}
		}
		a{
			transition: all 0.3s ease;
			padding: 15px 20px;
			border-radius: 10px;
			border: 1px solid $color-gray-1;
			display: block;
			@media (max-width: 991px) {
				justify-content: center;
			}
		}
		@media (max-width: 991px) {
			p{
				display: none;
			}
		}
	}
}

.p-l-offset-box{
	@media (min-width: 992px) {
		padding-left: 5%;
	}
}
//news-article
.article-content{
	@media (max-width: 991px) {
		p{
			text-align: justify;
		}
	}
}
.news-article{
	.article-content{
		.wrapper{
			border-radius: 10px;
			@extend .shadow-def;
		}
		.news-info{
			top: auto;
			bottom: auto;
			left: auto;
			position: relative;
		}
	}
	@media (max-width: 991px) {
		.article-content{
			.wrapper{
				border-radius: none;
				padding-right: 15px;
				padding-right: 15px;
				box-shadow: none;
			}
		}
	}
	@media (min-width: 992px) {
		.col-md-offset-1{
			margin-left: 4.33333%;
		}
		.col-md-7{
			width: 62.33333%;
		}
	}
}



.smsmailing{
	overflow: hidden;
	position: relative;
	@media (min-width: 991px){
		.article-img{
			position: absolute;
			bottom: -1px;
			right: 0;
		}
	}
}

//free-tariff
.free-tariff{
	@extend .for-home;
	padding-top: 30px;
	background-color: $color-gray-5;
	padding-bottom: 60px;
	position: relative;
	@media (min-width: 992px) {
		margin-top: 30px;
		margin-bottom: 30px;
		clip-path: polygon(73% 10%, 100% 10%, 100% 50%, 100% 100%, 30% 100%, 27% 90%, 0 90%, 0 0, 70% 0);
	}
}




//sola-free
.sola-free{
	background-image: url('../img/bg/bg-feedback.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	.short-advantages-items{
		figure{
			.wrapper>div{
				min-height: 190px;
			}
		}
		.icm{
			height: 80px;
    	font-size: 80px;
		}
	}
	@media (min-width: 992px) {
		.short-feedback-img{
			padding-top: 140px;
		}
	}
}











.searchmap-wrapper{
	display: flex;
	height: 1030px;
	position: relative;
}
.traderoutes-accordion{
	margin-top: 35px;
	.icm{
		color: $color-1;
	}
	.panel{
		margin: 0 !important;
		&:nth-child(1){
			.tab-body{
				padding: 0;
			}
		}
	}
	.tab-body{
		padding: 10px 15px;
		max-height: 210px;
		overflow-y: auto;
		li{
			margin: 0px 0;
			padding: 10px 0; 
			&:not(:nth-last-child){
				border-bottom: 1px solid $color-gray-2;
			}
			&:hover{
				color: $color-1;
				cursor: pointer;
			}
			a{
				transition: all 0.3s ease;
				border-radius: 5px;
				display: block;
				padding: 3px 15px;
				&[aria-expanded="true"]{
					background: linear-gradient(to right, darken($color-gray-5, 5%), transparent);
					color: $color-1;
				}
			}
		}
		p{
			color: $color-gray-3;
			padding: 3px 15px;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: em(13, 16);
		}
	}
	.panel-title{
		a{
			border-radius: 5px;
			display: block;
			padding: 12px 15px;
			border: 1px solid $color-gray-1;
			color: black;
			&[aria-expanded="true"]{
				background-color: $color-1;
				color: white;
				box-shadow: 0 4px 15px -2px rgba($color-1, 0.5);
				border-color: transparent;
				.icm{
					color: white;
				}
			}
		}
	}
}
.searchmap{
	.container-fluid-page{
		border-radius: 10px;
	}
	.column-1, .column-2{
		float: none;
	}
	.column-1{
		@extend .shadow-def;
		background-color: white;
		border-radius: 10px 0 0 10px;	
	}
	.column-2{
		background-color: $color-gray-5;
		border-radius: 0 10px 10px 0;
		padding: 10px 0;
		height: 100%;
	}}
.searchmap-search-container{
	.wrapper{
		padding: 30px 40px;
		display: flex;
		align-items: center;
	}
}
.searchmap-accordion{
	h2{
		font-size: 1.2em;
	}
}
.searchmap-search{
	padding: 0 30px;
	width: 100%;
	.search-input{
    input{
    	@include placeholder-color($color-gray-3);
    	height: 40px;
    }
	}
	button{
		background-color: $color-1;
		color: white;
		width: 120px;
    padding: 5px 15px;
    position: absolute;
	  font-size: 1em;
	  font-weight: 700; 
	  border-radius: 5px;
	  box-shadow:  0 0 10px -2px rgba($color-1, 0.5);
	  text-transform: uppercase;
    top: 0;
    right: 0px;
    height: 100%;
    transition: filter 0.3s ease;
    border: 0;
    &:active{
    	filter: brightness(80%);
    }
	}
}
.siderbarmap-map{
	width: 100%;
	z-index: 1;
	height: calc(100% - 115px);
	b{
		big{
			color: $color-1;
		}
	}
}
#mobile_leftacc{
	@media (max-width: 991px) {
		&:not(:checked){
			&~.column-1{
				transform: translateX(110%);
				.btn-leftacc{
					left: -75px;
					width: 55px;
					.icm-left-arrow-min{
						display: block;
						margin-left: -15px;
					}
					.icm-delete{
						display: none;
					}
				}
			}
		}
	}
}
.btn-leftacc{
	font-size: 20px;
	//position: absolute;
	//right: 10px;
	z-index: 3;
	width: 40px;
	position: absolute;
	left: -20px;
	top: 8px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
	background-color: $color-1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	.icm-delete{
		font-size: 16px;
		display: inline-block;
		margin-top: -3px;
	}
	.icm-left-arrow-min{
		display: none;
	}
	@media (min-width: 991px) {
		display: none;
	}
}

@media (min-width: $middle-size-ex) {
	.searchmap{
		.column-1{
			padding: 40px 70px;
		}
	}
	.searchmap-search-container{
		h2{
			min-width: 320px;
		}
	}
}
@media (max-width: $middle-size) {
	.searchmap{
		.column-1{
			padding: 40px 15px;
			font-size: 0.9em;
		}
	}
	.searchmap-search-container{
		h2{
			font-size: 1.5em;
			min-width: 200px;
		}
	}
}

@media (max-width: 991px) {
	.searchmap{
		.container-fluid-page{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.siderbarmap-map{
		//height: calc(100% - 520px);
	}
	.searchmap-wrapper{
		flex-direction: column;
		height: 100vh;
		.column-1{
			background-color: white;
			top: 130px;
			z-index: 232;
			font-size: 0.92em;
			position: absolute;
			width: 90%;
    	margin-left: 7%;
			border-radius: 0 !important;
			box-shadow: none;
			height: calc(100vh - 180px);
			padding: 0 10px 0 25px;
			//transform: translateX(110%);
			transition: all 0.3s ease;
			box-shadow: 0 0 20px -4px rgba(black, 0.2);
		}
		.column-2{
			//height: calc(100% - 420px);
		}
	}
	.searchmap-search-container{
		.searchmap-search{
			button{
				width: 80px;
			}
		}
		.wrapper{
			padding: 5px 0px;
			margin-bottom: 10px;
			flex-direction: column;
		}
	}
	.searchmap-accordion{
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		overflow-y: auto;
		height: 86%;
		width: calc(100% - 50px);
    margin-top: 7%;
		h2{
			display: none;
		}
		.traderoutes-accordion{
			text-align: left;
			padding-right: 7px;
			margin: 5px 0;
		}
	}
}




.schema-link{
	color: $color-1;
	font-weight: 600;
	display: block;
	padding: 0 15px;
	text-align: right;
	.fa{
		vertical-align: bottom;
	}
}
.schema-modal{
	&~#page{
		filter: blur(5px);
	}
	.fancybox-bg{
		background-color: rgba(black, 0.1) !important;
	}
}
.marker-notify{
	padding: 10px 15px;
	text-align: center;
	font-size: 1.1em;
	h2{
		font-weight: 500;
	}
	.img-content{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.img{
		height: 150px;
		background-position: center;
		background-size: contain;
	}
	.marker-notify-time{
		font-weight: 600;
		font-size: 1.1em;
		color: $color-1;
	}
}



.news{
	.link-content{
		text-align: center;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 20px;
		@media (min-width: 992px) {
			margin-top: 50px;
		}
	}
}
.short-news-items{
	.boxes-cell{
		@extend .shadow-def;
		background-color: white;
		border-radius: 12px;
	}
	.img-content{
		text-align: center;
	}
	.img{
		border-radius: 10px;
		height: 250px;
		display: none;
		background-size: cover;
		background-position: center;
	}
	img{
		width: 100%;
		border-radius: 10px;
	}

	.desc-content{
		font-weight: 500;
		padding: 5px 15px 20px 15px;
		min-height: 135px;
		h4{
			font-size: 1.25em;
			line-height: 1;
			font-weight: 800;
			min-height: 34px;
			a{
				color: inherit;
				transition: all 0.3s ease;
				text-decoration: underline;
				&:hover{
					color: $color-1;
				}
			}
		}
		p{
			line-height: 1;
		}
		a{
			color: #017301;
		}
	}
}