
/*
										 ---HEADER---
*/

$header-top-height: 110px; 
$header-min-menu: 70px;

#header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	position: fixed;
	pointer-events: none;
	background-color: transparent;
	color: white;
	//font-family: $font-family-1;
	*{
		pointer-events: auto;
	}
	@media (max-width: 991px){
		//position: fixed;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.header-hidden{
	//position: relative;
	height: 100px;
	display: none;
	transition: height 0.3s ease-in-out 0.4s;
	@media ( max-width: 991px ){
		height: 70px;
		display: block;
	}
}
.header-offset{
	height: 80px;
	@media (max-width: 991px) {
		display: none;
	}
}

.header-top{
	width: 100%;
}
.header-top-content{
	height: $header-top-height;
	//overflow: hidden;
	&.align-i-center{
		flex-wrap: nowrap;
	}
}
.header-top{
	transform: inherit;transform: unset;
}


.header-logo {
	padding-top: 5px;
  padding-bottom: 5px; 
  
	img{
		display: inline-block;
		vertical-align: middle;
		width: 231px;
	}
}
.header-scroll{
	.header-top{
		transform-origin: 50% 0;
	}


	.header-top, .header-top-content, .header-logo img{
		transition: all 0.5s ease; 	
	}
	&.scrolled, &.header-pages{
		.header-top{
			box-shadow: 0px 5px 20px -10px black;
			padding-bottom: 0;
		}
		.header-top-content{
			height: 0;
			transform: scaleY(0);
			padding: 0;
		}
	}
}

.btn-signin{
	.icm{
		margin-right: 15px;
		font-size: 25px;
		.path1:before{
			color: white;
		}
	}
	a{
		padding: 15px 25px;	
		font-weight: 500;
		font-size: em(14, 15);
		background-color: rgba(black, 0.3);
	}
}
.header-lang{
	font-size: em(12, 15);
	ul{

	}
	li{
		display: inline-block;
		list-style: none;
		//margin: 0 5px;
		padding-right: 6px;
		padding-left: 2px;
		position: relative;
		&:not(:last-child){
			border-right: 1px solid white;
		}
		// &:before{
		// 	@extend .clafclear;
		// 	height: 18px;
		// 	width: 1px;
		// 	background-color: white;
		// 	right: -10px;
		// }
	}
}

.socicons{
	font-size: 14px;
	li{
		display: inline-block;
		transition: color 0.3s ease;
		margin-left: 8px;
		&:nth-child(1){
			margin-left: 0;
		}
		a{
			display: flex;
			height: 100%;
			align-items: center;
			i{
				width: 100%;
			}
		}
		&:hover{
			color: $color-2;
		}
	}

}


.menu{
	position: relative;
	height: 100%;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
	nav{
		white-space: nowrap;
		height: 100%;
	}
	ul:not([class*="sub-menu"]){
		//display: flex;
	  //justify-content: space-between;
	  text-align: right;
		width: 100%;
		height: 100%;
		@extend .letter-none;
		& > li{
			height: 100%;
			display: inline-block;
			position: relative;
			letter-spacing: 0;
			& > a{
				height: 100%;
				display: block;
				padding: 10px 10px;
				position: relative;
				display: flex;
    		align-items: center;
			}
			&.active{
				color: $color-1;
			}
			&:hover{
				a{
					color: $color-1;	
					&:before, &:after{
						display: none;
					}
				}
				.sub-menu-1{
					transform: matrix(1,0,0,1,0,-30);
					opacity: 1;
					//visibility: visible;
					&, li, a{
						pointer-events: auto !important;
					}
					transition: 
											opacity 0.3s ease-in-out,
											transform 0.3s ease-in-out;
				}
			}

		}
	}
	li{
		display: inline-block;
		a{
			transition: all 0.3s ease;
			position: relative;
			z-index: 2;
		}
		&.active{
			background-color: $color-2;
		}

	}
}

ul[class*="sub-menu"]{
	position: absolute;
	font-weight: 500;
	transition: 
							opacity 0.3s ease-in-out,
							transform 0.3s ease-in-out,
							pointer-events 0s ease-in-out 0.3s;
	opacity: 0;
	z-index: 2;
	background-color: rgba(black, 0.3);
	border-radius: 5px;
	&, li, a{
		pointer-events: none !important;
	}
	li{
		white-space: nowrap;
		width: max-content;
		min-width: 175px;
		width: 100%;
		padding: 0 15px;
		&:not(:last-child){
			a{
				border-bottom: 1px solid rgba(white, 0.3);
			}
		}
		&:hover{
			color: white;
			.sub-menu-2{
				opacity: 1;
				transform: none;transform: unset; 
			}
		}
		a{

			position: relative;
			z-index: 1;
			color: white !important;
			display: block;
			transition: all 0.3s ease-in-out;
			padding: 12px 0;
			&:before, &:after{
				display: none;
			}

		}
	}
}
.sub-menu-1{
	white-space: normal;
	text-transform: none;
	transform: matrix(1,0,0,1,0,5);
	transform-origin: 40% 0;
	text-align: left;
}
.sub-menu-2{
	left: 100%;
	margin-top: -40px;
	transform: matrix(1,0,0,1, 10,0);
}















/*
										 ---MIN-MENU---
*/




#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	background-position: right;
	.search-nav-content{
		.search-input{
			border: 1px solid rgba($color-gray-1, 0.2) !important;
		}
		.fa{
			color: white !important;
		}
		input{
			background-color: transparent;
			border: none;
			color: white;
		}
	}
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}



.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 0 25px;
	z-index: 100;
	color: white;
	box-shadow: 0 0 20px 0 black;
	background-color: $color-1;
	font-size: 0.9em;
	.min-menu-logo{
		padding: 12px 0;
		width: 100%;
		h1{
			font-size: 25px;
		}
		.img{
			background-size: contain;
			background-position: center left;
			height: 45px;
		}
	}
	.min-menu-bar{
		padding: 5px 0;
		.bar{
			transform: scale(0.8);
		}
	}

}


// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}


.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}
.close-content{
	.icon-bar{
		transform-origin: center;
		margin: -1px;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}

.form-control{
	border-radius: 10px;
	&:focus, &:active, &{
		box-shadow: none;
	}
	resize: none;
	border-width: 0px;
	background-color: $color-gray-3;
	border-color: rgba($color-1, 0.3);
}
textarea.form-control{
	height: 150px;
}




//search nav
.search-nav-content, .input-btnin{
	position: relative;
	.fa{
		color: $color-gray-2;
		transform: scale(0.8);
		font-size: 20px;
	}
	.search-input-content{
		width: 50px;
		border: 1px solid $color-gray-1;
		height: 50px;
		margin-left: auto;
		position: relative;
		border: 1px solid #d1d1d1;
	}
	#search_status{
		&:checked{
			& ~ [for="search_status"]{
				.fa-close{
					display: block;
				}
				.fa-search{
					display: none;
				}

			}
			& ~ .input-box{
				display: block;
			}
		}
	}
	.input-box{
    display: none;
    position: absolute;
    right: 50px;
    height: 50px;
    top: 50%;
    transform: translate(0, -50%);
	}
	.search-input{
		border: 1px solid $color-gray-1;
    padding: 5px 15px;
    height: 100%;
	}
	.fa-close{
		display: none;
	}
	input{
		&:focus{
			//box-shadow: inset 0 0 0px black, -5px -5px 0px 0px darken(white, 12%), 5px 5px 0px 0px $color-2;
		}
		@include placeholder-color($color-gray-2);
	}
	label{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button{
		background-color: $color-1;
		color: white;
		width: 60px;
    padding: 5px 10px;
    position: absolute;
	  font-size: 1em;
    top: 0;
    right: 0px;
    height: 100%;
    transition: filter 0.3s ease;
    border: 0;
    &:active{
    	filter: brightness(80%);
    }
	}
	&.reverse{
		.search-input{
			border: 1px solid $color-2;
		}
		button{
			background-color: $color-2;
		}
	}
}


.fancymodal{
	
	@media (max-width: 991px){
		input.pie-form-control[type="checkbox"]{
			width: 20px;
			height: 20px;
		}
		.modal-col{
			height: auto !important;
			margin: 15px 0;
			padding-bottom: 15px;
			border-bottom: 1px dotted gray;
		}
	}
}

.feedback-content{

}

#form_order, #form_feedback{	
	@media (min-width: 992px) {
		width: 420px;
	}
}

.form-def{	
	padding-right: 40px;
	padding-left: 40px;
	background-image: url('../img/bg/bg-modal-order.jpg');
	background-repeat: no-repeat;
	background-color: $color-2;
	background-position: center;
	color: white;
	h1, h2, h3{
		margin-top: 0;
		margin-bottom: 0;
	}
	.cap-content{
		h1{
			text-transform: uppercase;
		}
	}
	.fancybox-close-small{
		top: 15px;
    right: 15px;
    &:after{
   		font-size: 35px;
    }
    &:focus:after{
    	outline: none;
    }
	}
	.btn-def{
		button, a{
			font-size: 1.1em;
			text-transform: uppercase;
		}
	}

	input.pie-form-control{
		background-color: $color-gray-1;
		@include placeholder-color( $color-gray-2 );
		color: black;
	}
	textarea.pie-form-control{
		background-color: $color-gray-1;
	}

}


input.feedback-control{
	border: 1px solid white;
	background-color: transparent;
	border-radius: 0;
	height: 35px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	@include placeholder-color( $color-gray-2 );
}