$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-calendar-with-a-clock-time-tools: "\e900";
$icm-envelope-shape: "\e901";
$icm-phone-receiver: "\e902";
$icm-placeholder-on-map-paper-in-perspective: "\e903";
$icm-user: "\e904";
$icm-zoom: "\e905";

