$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts/" !default;

$icm-add: "\e900";
$icm-addition-button: "\e901";
$icm-airplane-shape: "\e902";
$icm-antenna-path1: "\e903";
$icm-antenna-path2: "\e904";
$icm-antenna-path3: "\e905";
$icm-antenna-path4: "\e906";
$icm-antenna-path5: "\e907";
$icm-antenna-path6: "\e908";
$icm-antenna-path7: "\e909";
$icm-antenna-2: "\e90a";
$icm-apple-black-silhouette-with-a-leaf: "\e90b";
$icm-arrow-point-to-right: "\e90c";
$icm-calendar: "\e90d";
$icm-clip: "\e90e";
$icm-cloud-network-path1: "\e90f";
$icm-cloud-network-path2: "\e910";
$icm-cloud-network-path3: "\e911";
$icm-cloud-network-path4: "\e912";
$icm-cloud-network-path5: "\e913";
$icm-cloud-network-path6: "\e914";
$icm-cloud-network-path7: "\e915";
$icm-cloud-network-path8: "\e916";
$icm-cloud-network-path9: "\e917";
$icm-cloud-network-path10: "\e918";
$icm-cloud-network-path11: "\e919";
$icm-cloud-network-path12: "\e91a";
$icm-cloud-network-path13: "\e91b";
$icm-cloud-network-path14: "\e91c";
$icm-cloud-network-path15: "\e91d";
$icm-cloud-network-path16: "\e91e";
$icm-cloud-network-path17: "\e91f";
$icm-cloud-network-path18: "\e920";
$icm-cloud-network-path19: "\e921";
$icm-cloud-network-path20: "\e922";
$icm-computer-path1: "\e923";
$icm-computer-path2: "\e924";
$icm-computer-path3: "\e925";
$icm-correct: "\e926";
$icm-cup-and-plate: "\e927";
$icm-debit-card: "\e928";
$icm-email-envelope-outline-shape-with-rounded-corners: "\e929";
$icm-eye: "\e92a";
$icm-friendship-path1: "\e92b";
$icm-friendship-path2: "\e92c";
$icm-friendship-path3: "\e92d";
$icm-friendship-path4: "\e92e";
$icm-friendship-path5: "\e92f";
$icm-friendship-path6: "\e930";
$icm-friendship-path7: "\e931";
$icm-friendship-path8: "\e932";
$icm-friendship-path9: "\e933";
$icm-friendship-path10: "\e934";
$icm-handshake: "\e935";
$icm-heartbeat: "\e936";
$icm-hosting: "\e937";
$icm-left-arrow-min: "\e938";
$icm-location: "\e939";
$icm-login-path1: "\e93a";
$icm-login-path2: "\e93b";
$icm-login-path3: "\e93c";
$icm-magnifier: "\e93d";
$icm-manager: "\e93e";
$icm-minus: "\e93f";
$icm-network-path1: "\e940";
$icm-network-path2: "\e941";
$icm-network-path3: "\e942";
$icm-network-path4: "\e943";
$icm-network-path5: "\e944";
$icm-network-path6: "\e945";
$icm-network-path7: "\e946";
$icm-network-path8: "\e947";
$icm-network-2: "\e948";
$icm-online-payment-path1: "\e949";
$icm-online-payment-path2: "\e94a";
$icm-online-payment-path3: "\e94b";
$icm-online-payment-path4: "\e94c";
$icm-online-payment-path5: "\e94d";
$icm-online-payment-path6: "\e94e";
$icm-online-payment-path7: "\e94f";
$icm-online-payment-path8: "\e950";
$icm-online-payment-path9: "\e951";
$icm-online-payment-path10: "\e952";
$icm-open-book: "\e953";
$icm-phone-call: "\e954";
$icm-placeholder-filled-point: "\e955";
$icm-protect-path1: "\e956";
$icm-protect-path2: "\e957";
$icm-protect-path3: "\e958";
$icm-protect-path4: "\e959";
$icm-protect-path5: "\e95a";
$icm-protect-path6: "\e95b";
$icm-protect-path7: "\e95c";
$icm-protect-path8: "\e95d";
$icm-protect-path9: "\e95e";
$icm-protect-path10: "\e95f";
$icm-protect-path11: "\e960";
$icm-protect-path12: "\e961";
$icm-protect-path13: "\e962";
$icm-public-transport-subway: "\e963";
$icm-repairing-service: "\e964";
$icm-road: "\e965";
$icm-scroll: "\e966";
$icm-shopping-cart: "\e967";
$icm-smart-energy: "\e968";
$icm-smartphone: "\e969";
$icm-speed-path1: "\e96a";
$icm-speed-path2: "\e96b";
$icm-speed-path3: "\e96c";
$icm-speed-path4: "\e96d";
$icm-speed-path5: "\e96e";
$icm-speed-path6: "\e96f";
$icm-speed-path7: "\e970";
$icm-speed-path8: "\e971";
$icm-speed-path9: "\e972";
$icm-speed-path10: "\e973";
$icm-speed-path11: "\e974";
$icm-speed-path12: "\e975";
$icm-speed-path13: "\e976";
$icm-speed-path14: "\e977";
$icm-speed-path15: "\e978";
$icm-startup: "\e979";
$icm-three-buildings: "\e97a";
$icm-timer: "\e97b";
$icm-tree: "\e97c";
$icm-video-conference-path1: "\e97d";
$icm-video-conference-path2: "\e97e";
$icm-video-conference-path3: "\e97f";
$icm-video-conference-path4: "\e980";
$icm-video-conference-path5: "\e981";
$icm-video-conference-path6: "\e982";
$icm-video-conference-path7: "\e983";
$icm-video-conference-path8: "\e984";
$icm-waiting: "\e985";
$icm-wallet: "\e986";
$icm-wifi: "\e987";
$icm-wireless-internet-path1: "\e988";
$icm-wireless-internet-path2: "\e989";
$icm-wireless-internet-path3: "\e98a";
$icm-wireless-internet-path4: "\e98b";
$icm-wireless-internet-path5: "\e98c";

